body {
  font-family: Overpass;
  color: #Green 3D #3;
  font-size: 18px;
}

h1, h2, h3 {
  font-family: Chivo;
}

a {
  color: #Blue Gloss #2;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #Yellow 3D #2;
}/* Write some CSS below */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-white {
    width: auto;
  }
}
  
/* Container media queries */
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}


@media (min-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 800px;
  }
}